html {
    
    
    margin: 0;
    padding: 0;
   
    
}

body{
    margin: 0;
    
    
    width : 100%;   
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: 100%;
    align-items: center;
    
}
background{
    position: absolute;
    width: 10%;
}
nav 
{
    margin: 0;
    width: 100%;
    
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    justify-content: center;   
    background-color: #ad2316;
    margin: 0px auto 0px auto;
    width: 100%;
}

li input{
    margin: 0x 1px 1px;
    color: white;
    background-color: #ad2316;
    border-color: white;
    height: 23px;
    display: flex; 
    margin-left: 25px;
    justify-content: center;
    font-family: Carlito;
    font-weight: cursive;
    
    /*border-color: #5b85c3;*/
    cursor: pointer;
    
}
select{
    border-color: #ad2316;
    border-radius: 1vw;
    color: #ad2316;
}
        
nav ul li{
    list-style-type: none;
    margin: 15px 2px 15px 0px;
    background-color: gray;
    height: 23px;
    display: flex; 
     border-radius: 50px;
}

button{
    background-color: white;
    border-color: #ad2316;
    border-bottom-style: double; 
    cursor: pointer;
    color: #ad2316;
}

form,#form6{
    /* Apenas para centralizar o form na página */
    align-content: center;
    
    margin: 100px auto;
    width: 400px;
    color : #ad2316;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 0.2vw solid #CCC;
    
    border-color: #ad2316;
    background-color: white;

}

form div + div{
    margin-top: 1em;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}
header{
    width: 100%;
    padding: 0;
}
header img{
    height: 60px;
    width: 60px;
    
}
input {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 205px;
    height: 25px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #ad2316;
    color: #ad2316;
    border-radius: 1vw;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}

textarea
{
     /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 200px;
    height: 25px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}

.hidden{
    display:none;
}

